<div class="social menu-item">
    <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noreferrer">
        <img src="/assets/images/social/github.svg" alt="github" />
    </a>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noreferrer">
        <img src="/assets/images/social/linkedin.svg" alt="linkedin" />
    </a>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noreferrer">
        <img src="/assets/images/social/twitter.svg" alt="twitter" />
    </a>
    <a href="mailto:{{ site.email }}">
        <img src="/assets/images/social/mail.svg" alt="email" />
    </a>
</div>
