.icons-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  img {
    &:not(:last-child) {
      margin-right: 15px;
    }
    max-height: 50px;
  }
}

.small-icons-list {
  @extend .icons-list;

  img {
    max-height: 40px;
  }
}