.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.profile {
    background-image: url('../images/home.jpg');
    background-position: center;
    background-size: cover;
    color: #ffffff;
    flex: 1 0 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    height: 200px;
}

.profile-name {
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
}

.profile-blurb {
    text-align: center;
    margin: 20px;
    font-weight: 500;
}

.social > a {
    color: white;
    text-decoration: none;
}

.social > a > svg {
    margin-right: 10px;
    height: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.menu > a {
    color: #ffffff;
    margin-bottom: 5px;
}

.copyright {
    font-size: 10px;
    position: fixed;
    bottom: 20px;
}

.content {
    flex: 1 0 60%;
    align-self: center;
}